.s-card {
    padding: 4px;
    box-sizing: border-box;
    width: 270px;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 6px 10px 0 rgba(95, 101, 1005, 0.15);

    &-img {
        height: 152px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &-summary {
        padding: 8px;
        font-size: 14px;
        text-align: left;
    }
}